<form class="add-expense-form">

    <mat-form-field class="left-input full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. James" [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field class="right-input full-width">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Ex. 10" [(ngModel)]="amount" name="amount" type="number">
    </mat-form-field>

    <button (click)="handleClick()">Add New Expense</button>   

</form>

